.userCard {
    margin-bottom:15px;
}

.userCard:hover {
    background:#EEE;
}

.userCard .header {
    cursor: pointer;
}

.userCard.notActive {
    border-left:5px solid red;
}

.userCard.active {
    border-left:5px solid green;
}