.usersListWrapper {
    position: relative;
}

.usersListWrapper .tools {
    position: fixed;
    top: 0;
    left: 0;
    z-index:9;
    background:rgba(255,255,255,.8);
    padding:5px 10px;
    box-shadow: 1px 1px 1px #FFF;
    width:100%;
}

.usersListWrapper .listWrapper {
    margin-top:50px;
}